n8n/meridian.json
{
  "name": "Meridian",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meridian",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        0
      ],
      "id": "488c3640-3d83-4568-babd-afd0925cc29b",
      "name": "Webhook",
      "webhookId": "4207bdee-78f4-4d90-8d2f-3d5de97022af"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { raw_output: $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        840,
        0
      ],
      "id": "8f0b5ed5-9a84-48be-87fb-b58d9445e118",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.user_prompt }}",
        "options": {
          "systemMessage": "={{ $('Webhook').item.json.body.system_prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        200,
        0
      ],
      "id": "d8d4a246-e995-4031-ab74-4d394f3bd976",
      "name": "Meridian"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        220,
        200
      ],
      "id": "20e79d0f-c117-436b-91d0-54b996f36a90",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "HBYxDE4k9lhrrGOL",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Meridian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meridian": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Meridian",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dfca042a-a37f-4f9a-a1c3-2d93e8292d80",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "111d80fe232db9ee76f854ab72cbe1edcebe23e73237176ddf890a8073d51fa7"
  },
  "id": "vF6LsSc1aeyPsTHc",
  "tags": []
}
