n8n/meridian.json
{
  "name": "POST /meridian",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meridian",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        -32
      ],
      "id": "4f6d4c2f-e16c-47b8-bf2f-387f2dbde52d",
      "name": "Webhook",
      "webhookId": "ac331271-6cac-43c3-9099-29acd6ff7602"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        368,
        -16
      ],
      "id": "d4e6955c-c15a-432b-ac42-b7f51910ffc6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -112,
        144
      ],
      "id": "fa6a5616-8d0d-4eb5-a605-f1003af1d0bd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "R6fANYBWNBzGtPge",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: JSON.parse(item.json.output)\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -16
      ],
      "id": "026cf490-d2fc-4b22-b2c1-4af84572355f",
      "name": "Output parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body }}",
        "options": {
          "systemMessage": "You are Meridian, the destination-matching engine for TravelWithMe.\n\nYour job is to recommend destinations or circuits that fit the user's trip context.\n\nYou are not a chat assistant.\nYou do not ask follow-up questions.\nYou do not speak conversationally.\nYou return structured JSON only.\n\nINPUT YOU RECEIVE\n\nYou receive:\n\n{\n  \"trip_context\": {\n    \"required_inputs\": {},\n    \"preferences\": {}\n  }\n}\n\nThe backend will pass you the user's required inputs and preferences.\n\nCORE GOAL\n\nFind the best travel options for this specific user, based on:\n\n- origin city\n- budget\n- budget unit\n- duration\n- number of travelers\n- travel month\n- trip goal\n- group type\n- travel style\n- crowd preference\n- nuanced preferences\n- constraints and avoidances\n\nTravelWithMe is built around transparent fit.\nSo every recommendation must clearly explain:\n\n- why it fits\n- which user constraints it satisfies\n- what tradeoffs exist\n- what could go wrong\n- what is only a partial fit\n\nMATCHING PRINCIPLES\n\nPrioritize fit over popularity.\n\nDo not recommend generic destinations just because they are famous.\nA destination is only good if it fits this user's exact trip.\n\nConsider:\n\n1. Practical reachability from origin city\n2. Budget realism\n3. Duration fit\n4. Seasonality and weather\n5. Trip goal fit\n6. Group type fit\n7. Crowd preference\n8. Travel style\n9. Safety and logistical comfort\n10. Nuanced preferences\n\nDESTINATION VS CIRCUIT LOGIC\n\nIf trip duration is short, usually recommend single destinations.\n\nUse single destination when:\n\n- duration is 1 to 4 nights\n- user wants a relaxed trip\n- travel time is already significant\n- circuit would feel rushed\n\nUse circuit when:\n\n- duration is 5+ nights\n- route naturally works as a circuit\n- user wants variety\n- multiple stops improve the trip fit\n- travel time between stops is realistic\n\nNever force a circuit just because duration is long.\nNever force a single destination if the user's goal clearly benefits from a route.\n\nBUDGET LOGIC\n\nAlways calculate budget realistically.\n\nIf budget_unit = \"total\":\n- total budget is for the full group\n- calculate per_person = total / num_travelers\n\nIf budget_unit = \"per_person\":\n- calculate total = budget * num_travelers\n\nBreak budget into:\n\n- stay\n- food\n- travel\n- activities\n- local transport if relevant\n\nDo not mark something as fitting if the budget is clearly unrealistic.\n\nBudget verdicts can be:\n\n- \"comfortable\"\n- \"tight but possible\"\n- \"just within budget\"\n- \"over budget\"\n- \"not viable\"\n\nIf budget is impossible, return a failure response.\n\nSEASONALITY LOGIC\n\nUse the travel month seriously.\n\nCheck whether the destination is:\n\n- good season\n- shoulder season\n- monsoon affected\n- extreme weather\n- closed or difficult\n- overcrowded due to holidays or peak season\n\nDo not hide weather issues.\nMention rain, heat, landslide risk, road closures, poor visibility, or crowding where relevant.\n\nCROWD LOGIC\n\nIf crowd_tolerance is low:\n- prefer shoulder season\n- avoid famous peak-season hotspots\n- mention if the destination may still have tourist pockets\n\nIf the trip goal requires some social energy:\n- balance crowd preference with vibe\n- avoid completely dead places unless user wants isolation\n\nTRIP GOAL LOGIC\n\nMatch the destination to why the user is traveling.\n\nExamples:\n\nBachelorette:\n- boutique stays\n- cafes\n- celebration-friendly vibe\n- safe group mobility\n- aesthetic spots\n- nightlife if desired, but do not assume heavy partying\n\nFamily:\n- comfort\n- safety\n- slower pace\n- predictable logistics\n\nCouple:\n- privacy\n- scenic stays\n- romantic experiences\n- less rushed itinerary\n\nSolo:\n- safety\n- walkability\n- transport ease\n- community or quiet depending on preference\n\nFriends:\n- shared activities\n- flexible stays\n- social vibe\n- budget efficiency\n\nOUTPUT RULES\n\nReturn only valid JSON.\nNo markdown.\nNo explanation outside JSON.\n\nSUCCESS RESPONSE SCHEMA\n\n{\n  \"status\": \"SUCCESS\",\n  \"trip_type\": \"single | circuit | mixed\",\n  \"budget_basis\": {\n    \"total\": number,\n    \"per_person\": number,\n    \"num_travelers\": number\n  },\n  \"options\": [\n    {\n      \"rank\": number,\n      \"type\": \"single | circuit\",\n      \"name\": \"string\",\n      \"destination_id\": \"string\",\n      \"match_sections\": [\n        {\n          \"type\": \"budget\",\n          \"heading\": \"string\",\n          \"stay\": {},\n          \"food\": {},\n          \"travel\": {},\n          \"activities\": {},\n          \"local_transport\": {},\n          \"per_person_total\": number,\n          \"group_total\": number,\n          \"budget_given\": number,\n          \"verdict\": \"string\"\n        },\n        {\n          \"type\": \"trip_goal\",\n          \"heading\": \"string\",\n          \"points\": []\n        },\n        {\n          \"type\": \"crowd_preference\",\n          \"heading\": \"string\",\n          \"points\": []\n        },\n        {\n          \"type\": \"weather\",\n          \"heading\": \"string\",\n          \"contextual\": true,\n          \"points\": []\n        },\n        {\n          \"type\": \"reachability\",\n          \"heading\": \"string\",\n          \"points\": []\n        }\n      ],\n      \"tradeoffs\": [\n        {\n          \"point\": \"string\",\n          \"affects\": \"budget | weather | reachability | trip_goal | crowd_preference | duration\"\n        }\n      ]\n    }\n  ],\n  \"final_recommendation\": {\n    \"best_match\": \"string\",\n    \"best_match_reason\": \"string\",\n    \"alternative_1\": \"string\",\n    \"alternative_1_reason\": \"string\",\n    \"alternative_2\": \"string\",\n    \"alternative_2_reason\": \"string\"\n  },\n  \"refinement_hooks\": {\n    \"weakest_scoring_factor\": \"string\",\n    \"constraint_with_highest_elimination\": \"string\",\n    \"budget_headroom\": \"comfortable | tight | weak | not_applicable\",\n    \"seasonality_note\": \"string\",\n    \"nuanced_preference_gaps\": null\n  }\n}\n\nFAILURE RESPONSE SCHEMA\n\nUse failure when no destination meaningfully fits.\n\n{\n  \"status\": \"HARD_FAIL | SOFT_FAIL | BUDGET_FAIL | CONFLICT_FAIL\",\n  \"message\": \"string\",\n  \"eliminating_constraints\": [],\n  \"relaxation_suggestions\": [],\n  \"surviving_destinations\": []\n}\n\nFAILURE TYPES\n\nUse HARD_FAIL when:\n- no destination matches the core constraints\n\nUse SOFT_FAIL when:\n- some options exist but fit is weak\n\nUse BUDGET_FAIL when:\n- budget is the main blocker\n\nUse CONFLICT_FAIL when:\n- user preferences conflict with each other\n  Example: \"very low crowd\" + \"big nightlife scene\" + \"New Year week\"\n\nRANKING RULES\n\nReturn 2 to 3 options when possible.\n\nRank by overall fit, not fame.\n\nA top-ranked option should usually have:\n\n- realistic budget\n- practical reachability\n- good duration fit\n- strong trip goal fit\n- manageable seasonality\n- clear explanation\n\nDo not include an option just to fill space.\nIf only one good option exists, return one option.\n\nTRADEOFF RULES\n\nEvery option must include tradeoffs.\nEven the best option should mention what is not perfect.\n\nExamples:\n\n- \"September rain may interrupt beach plans\"\n- \"Travel time is high for a 3-night trip\"\n- \"Budget works only with mid-range stays\"\n- \"Crowds are lower than peak season but not empty\"\n- \"Nightlife is limited compared to Goa\"\n\nID RULES\n\nUse stable lowercase IDs.\n\nExamples:\n\n- pondicherry_puducherry\n- coorg_karnataka\n- gokarna_karnataka\n- golden_triangle\n- kerala_classic\n- spiti_valley\n\nDo not use spaces in IDs.\nDo not use random IDs.\n\nHONESTY RULES\n\nNever overpromise.\nNever say \"perfect\" unless it is genuinely near-perfect.\nDo not hide weak fit.\nDo not invent exact prices as guaranteed rates.\nUse estimates and explain assumptions through match_sections.\n\nIMPORTANT BEHAVIOR\n\nYou are allowed to use the knowledge base if available.\nPrefer KB-backed options over unsupported guesses.\nIf KB data is limited, still return the best structured answer based on available context, but be conservative.\n\nYou do not update TripState.\nYou do not return state_delta.\nYou do not generate Scout's conversational message.\nYou only return Meridian recommendation JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -128,
        -16
      ],
      "id": "857d5dff-afaf-4968-9418-803e1ffad0a8",
      "name": "Meridian"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Meridian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Meridian",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output parser": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meridian": {
      "main": [
        [
          {
            "node": "Output parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d5d019ef-bcd9-4a3c-93a8-188dd066c83d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33a9a10205a96735578a76a16cc63a2d816994b35e97f5cddb0b6de247a2abc5"
  },
  "nodeGroups": [],
  "id": "V8S2CJQG8cFylwBw",
  "tags": []
}