n8n/scout.json
{
  "name": "Scout",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractJsonText(value) {\n  if (value == null) return '{}';\n\n  if (typeof value === 'object') {\n    if (typeof value.output === 'string') return value.output;\n    return JSON.stringify(value);\n  }\n\n  let text = String(value).trim();\n\n  // Strip markdown fences if model adds them.\n  text = text.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n\n  // If the agent returned an array wrapper, parse wrapper first.\n  if (text.startsWith('[')) {\n    const parsed = JSON.parse(text);\n    const first = parsed[0] || {};\n    if (typeof first.output === 'string') return first.output;\n    return JSON.stringify(first);\n  }\n\n  return text;\n}\n\nfunction parseAgentOutput(raw) {\n  const text = extractJsonText(raw);\n\n  try {\n    return JSON.parse(text);\n  } catch (err) {\n    return {\n      message: 'I had trouble formatting that response. Please try again.',\n      state_delta: {},\n      intent: null,\n      parser_error: err.message\n    };\n  }\n}\n\nreturn items.map(item => ({\n  json: parseAgentOutput(item.json.output ?? item.json)\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        0
      ],
      "id": "892ae446-3a07-4acf-beec-de666ff0dc58",
      "name": "Output parser"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scout",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "067fad9e-2b14-4a9e-9ce9-0f0b35d4eae4",
      "name": "Webhook",
      "webhookId": "4207bdee-78f4-4d90-8d2f-3d5de97022af"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        0
      ],
      "id": "80207876-8331-40e3-a602-e8053ad96225",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({ trip_state: $('Webhook').item.json.body.trip_state, message: $('Webhook').item.json.body.message }) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $('Webhook').item.json.body.prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "961558c7-4f17-4a63-a375-0abf46f5d369",
      "name": "Scout"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        220,
        180
      ],
      "id": "d61eb72d-5ca0-4cb9-9b4d-ec57e0dd6dd8",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "HBYxDE4k9lhrrGOL",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Scout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output parser": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scout": {
      "main": [
        [
          {
            "node": "Output parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Scout",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a2f43a6b-c504-4968-bf1f-fd10333f9f1a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "111d80fe232db9ee76f854ab72cbe1edcebe23e73237176ddf890a8073d51fa7"
  },
  "id": "n87OoBysB3SvmwiO",
  "tags": []
}