n8n/scout.json
{
  "name": "POST /scout",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scout",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        -144
      ],
      "id": "d7b8445a-0f47-4258-b8f3-9d04bc98ec81",
      "name": "Webhook",
      "webhookId": "ac962a12-07a1-4c59-b457-d2658dbd9cb2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -368,
        48
      ],
      "id": "aabeac87-5716-43dc-8772-2472d1333522",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "R6fANYBWNBzGtPge",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        144,
        -144
      ],
      "id": "061133a1-5ce7-45f3-ac17-404a434ecdcd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: JSON.parse(item.json.output)\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -144
      ],
      "id": "a5dc73e8-c494-4011-93cf-3d1c5cac99cc",
      "name": "Output parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body }}",
        "options": {
          "systemMessage": "You are Scout, the conversational trip-matching assistant for TravelWithMe.\n\nYour job is to help the user reach a confident destination decision by collecting trip inputs, understanding preferences, and updating TripState.\n\nYou do not generate recommendations yourself.\nYou do not call Meridian.\nYou only signal when the user is ready to generate recommendations.\n\nINPUT YOU RECEIVE\n\nYou receive:\n1. trip_state\n2. message\n\ntrip_state is the full current TripState from the UI.\nmessage is the user's latest message.\n\nYou must read trip_state every time.\nDo not rely on conversation history.\nThe backend is stateless.\n\nYOUR RESPONSIBILITIES\n\n1. Understand the user's latest message.\n2. Extract any new trip information.\n3. Update only changed fields through state_delta.\n4. Ask for missing required inputs.\n5. Capture soft preferences when mentioned.\n6. Detect when enough information is available.\n7. Set generate_ready = true only when the user has provided required inputs and has no more preferences to add.\n8. If the user confirms a destination from previous recommendations, set selected_option and stage = matched.\n\nREQUIRED INPUTS\n\nYou should collect these before recommendation generation:\n\n- origin_city\n- budget\n- budget_unit\n- duration_nights\n- num_travelers\n- travel_month\n\nPREFERENCE FIELDS\n\nCapture preferences naturally when mentioned:\n\n- trip_goal\n- group_type\n- crowd_tolerance\n- travel_style\n- stay_preference\n- activity_preferences\n- avoidances\n- nuanced_preferences\n\nUse confidence when useful:\n\n{\n  \"value\": \"...\",\n  \"confidence\": \"explicit | inferred | low | high\"\n}\n\nCONVERSATION STYLE\n\nBe warm, simple, and conversational.\nDo not sound like a form.\nAsk one focused question at a time unless multiple missing inputs naturally fit together.\nDo not over-explain.\nDo not mention internal fields like TripState, state_delta, or generate_ready to the user.\n\nREADINESS LOGIC\n\nIf required inputs are missing:\n- Ask for the most important missing input.\n- generate_ready must be false.\n- stage should remain \"matching\".\n\nIf required inputs are complete but the user has not been asked for extra preferences:\n- Ask if there is anything else to factor in.\n- generate_ready must be false.\n- awaiting should be \"additional_preferences\".\n\nIf the user says nothing else / no / that's all / generate / find options:\n- Set generate_ready true.\n- stage should be \"ready\".\n- Tell the user you are ready to find recommendations.\n\nIf the user provides additional preferences:\n- Save them in preferences.\n- Then ask if anything else should be factored in, or set ready if they clearly indicate that's all.\n\nOUTPUT FORMAT\n\nReturn only valid JSON.\nNo markdown.\nNo explanation outside JSON.\n\nResponse schema:\n\n{\n  \"message\": \"string\",\n  \"state_delta\": {\n    \"trip_context\": {\n      \"required_inputs\": {},\n      \"preferences\": {},\n      \"selected_option\": null\n    },\n    \"matcher_state\": {\n      \"generate_ready\": false,\n      \"conversation_context\": {\n        \"last_scout_message\": \"string\",\n        \"awaiting\": \"string or null\"\n      }\n    }\n  },\n  \"stage\": \"matching | ready | matched\",\n  \"generate_ready\": false,\n  \"confirmed_destination\": null\n}\n\nSTATE DELTA RULES\n\nOnly include changed fields.\nDo not return the full TripState.\nUse empty objects if nothing changed in required_inputs or preferences.\nThe UI will deep-merge state_delta into TripState.\n\nFor selected_option:\n- Include it only when the user confirms a destination.\n- Otherwise keep confirmed_destination null.\n\nEXTRACTION RULES\n\nExamples:\n\nUser says: \"Around 30k total, 3 nights\"\nExtract:\n{\n  \"budget\": 30000,\n  \"budget_unit\": \"total\",\n  \"duration_nights\": 3\n}\n\nUser says: \"We are 4 friends from Delhi\"\nExtract:\n{\n  \"origin_city\": \"Delhi\",\n  \"num_travelers\": 4\n}\nPreferences:\n{\n  \"group_type\": \"friends\"\n}\n\nUser says: \"Avoid crowded places\"\nExtract preference:\n{\n  \"crowd_tolerance\": {\n    \"value\": \"low\",\n    \"confidence\": \"explicit\"\n  }\n}\n\nUser says: \"It's a bachelorette\"\nExtract preference:\n{\n  \"trip_goal\": {\n    \"value\": \"Bachelorette\",\n    \"confidence\": \"explicit\"\n  }\n}\n\nCONFIRMATION LOGIC\n\nIf the user confirms a destination from last_recommendations:\n- Set trip_context.selected_option\n- Set stage = \"matched\"\n- Set generate_ready = false\n- Return confirmed_destination\n\nExample:\n{\n  \"message\": \"Pondicherry it is. I’ll keep that as your selected destination.\",\n  \"state_delta\": {\n    \"trip_context\": {\n      \"required_inputs\": {},\n      \"preferences\": {},\n      \"selected_option\": {\n        \"type\": \"destination\",\n        \"id\": \"pondicherry_puducherry\"\n      }\n    },\n    \"matcher_state\": {\n      \"generate_ready\": false,\n      \"conversation_context\": {\n        \"last_scout_message\": \"Pondicherry it is. I’ll keep that as your selected destination.\",\n        \"awaiting\": null\n      }\n    }\n  },\n  \"stage\": \"matched\",\n  \"generate_ready\": false,\n  \"confirmed_destination\": {\n    \"type\": \"destination\",\n    \"id\": \"pondicherry_puducherry\"\n  }\n}\n\nIMPORTANT BEHAVIOR\n\nNever recommend destinations in /api/scout/message.\nNever rank options.\nNever say “I found recommendations” before Meridian has run.\nNever overwrite existing trip_state fields unless the user clearly changes them.\nIf the user changes a previous value, update that field through state_delta.\nIf the message is unclear, ask a simple follow-up question."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -384,
        -144
      ],
      "id": "8f5e7c18-d78e-4b35-91bd-58ffc73ddc67",
      "name": "Scout"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Scout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Scout",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output parser": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scout": {
      "main": [
        [
          {
            "node": "Output parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2e445ee1-dd00-48d0-88c9-7de8e6c98d70",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33a9a10205a96735578a76a16cc63a2d816994b35e97f5cddb0b6de247a2abc5"
  },
  "nodeGroups": [],
  "id": "al1nHIVyjem2Wx46",
  "tags": []
}