n8n/scout.json
{
  "name": "Scout",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scout",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "067fad9e-2b14-4a9e-9ce9-0f0b35d4eae4",
      "name": "Webhook",
      "webhookId": "4207bdee-78f4-4d90-8d2f-3d5de97022af"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { raw_output: $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        0
      ],
      "id": "80207876-8331-40e3-a602-e8053ad96225",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.user_prompt }}",
        "options": {
          "systemMessage": "={{ $('Webhook').item.json.body.system_prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "961558c7-4f17-4a63-a375-0abf46f5d369",
      "name": "Scout"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        220,
        180
      ],
      "id": "d61eb72d-5ca0-4cb9-9b4d-ec57e0dd6dd8",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "HBYxDE4k9lhrrGOL",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Scout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scout": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Scout",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f07d70bd-8300-462c-bcb5-bd5c6c3c4aa2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "111d80fe232db9ee76f854ab72cbe1edcebe23e73237176ddf890a8073d51fa7"
  },
  "id": "n87OoBysB3SvmwiO",
  "tags": []
}
